dicts/scripts/gt_dictionary.dtd

<!ELEMENT r (e+) >
<!ELEMENT e (lg,mg+) >
<!ATTLIST e 
      usage ( mt | dic | ped | other ) #IMPLIED
      src ( nj | other ) #IMPLIED
>      
<!ELEMENT lg (l,lc*) >
<!ELEMENT l (#PCDATA) >
<!ATTLIST l 
      pos ( a | n | v | adv | po | pr | pron | rel | pers | i | pcle | num | cc | cs | n | prop | x ) #REQUIRED
      nr ( sg | pl ) #IMPLIED
      type ( rel | pers | pre | post ) #IMPLIED
>      


<!ELEMENT lc (#PCDATA) >

<!ELEMENT mg (tg+) >
<!ELEMENT tg (re?,t+,xg*) >

<!ELEMENT re (#PCDATA) >
<!ELEMENT t (#PCDATA) >
<!ATTLIST t 
      pos ( a | a5 | S | m | f | n | v | adv | p | pron | prop | i | cc | cs | im | mpl | fpl | npl | num | pcle | s | x ) #REQUIRED
      nr ( sg | pl ) #IMPLIED
>      

<!ELEMENT xg ((x,xt?)+)>
<!ELEMENT x (#PCDATA)>
<!ELEMENT xt (#PCDATA)>


<!--
This document is not quite finished yet...

Here are the pos tags:
 a  = Adjective
 m  = Masculine (nob)
 f  = Feminine (nob) 
 n  = Neuter (nob), noun (sme)
 S  = noun, still not given gender (nob)
 v  = verb
 adv  = adverb
 num = numeral
 pcle = particle
 p  = preposition (nob)
 pr = preposition (sme)
 po = postposition (sme)
 pron  = pronoun
 i  = interjection
 cc  = conjunction
 cs  = subjunction
 im = infinitive mark å (nob)
 s  = sentence, or explanation
 x  = still no pos

Documenting
(the tags are short due to a manual cleanup)
r  root
e  entry
l  lemma
lc lemma comment 
m  meaning
re restriction (semantic restriction of the following t)
t  translation
x  example
xt example translation
.g group 
-->
