dicts/scripts/gt_dictionary.dtd

<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >

<!-- the header -->
<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'>
<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >
<!ELEMENT ref (#PCDATA|a|i)*>
<!ELEMENT sourcenote (#PCDATA|a)*>
<!ELEMENT a (#PCDATA)>
<!ELEMENT i (#PCDATA)>

<!ELEMENT e (lg,mg+) >
<!ATTLIST e 
      usage ( mt | dic | ped | more | other ) #IMPLIED
      src ( nj | sk | SvSt | other ) #IMPLIED
>      
<!ELEMENT lg (l,lc*) >
<!ELEMENT l (#PCDATA) >
<!ATTLIST l 
      pos ( a | a1 | a2 | a3 | a4 | a5 | 
            n | npl | v | adv | po | pr | pron | rel | pers | i | pcle |
            num | cc | cs | prop | propPl | g3 | actor | interj | x ) #REQUIRED
      decl ( a1 | a2 | a3 | a4 | a5 | ax | m1 | mx | f1 | f2 | fx | n1 | nx ) #IMPLIED
      nr ( sg | pl ) #IMPLIED
      context CDATA #IMPLIED
      type ( rel | pers | indef | refl | pre | post ) #IMPLIED
      class ( I | II | III | IV | V | VI ) #IMPLIED
      stem ( even | odd ) #IMPLIED
      umlaut ( A | B | C | D | E | F ) #IMPLIED
      p3p CDATA #IMPLIED
      minip ( notSg1 | onlyPl ) #IMPLIED
      illpl ( ok | no ) #IMPLIED
      status ( sjekk | ok ) #IMPLIED
>      


<!ELEMENT lc (#PCDATA) >

<!ELEMENT mg (tg+) >
<!ATTLIST mg 
      lang ( swe | nob ) #IMPLIED
>      
<!ELEMENT tg (re?,(t*,stem*,tf*)+,te?,xg*, syng?) >

<!ELEMENT re (#PCDATA) > <!-- Domain restriction: bot, phys, ... -->
<!ELEMENT t (#PCDATA) >
<!ATTLIST t 
      pos ( a | S  | m  | f  | n  | v  | adv | p   | pr  | po  |
            pron | prop | i  | cc | cs | im | mpl | fpl | npl | num |
            pcle | s    | interj  | x  | xxx ) #REQUIRED
      decl ( a1 | a2 | a3 | a4 | a5 | ax | m1 | mx | f1 | f2 | fx | n1 | nx ) #IMPLIED
      nr ( sg | pl ) #IMPLIED
      lang ( swe | nob ) #IMPLIED
>      

<!ELEMENT stem (#PCDATA) > <!-- Translation phrase -->
<!ELEMENT tf (#PCDATA) > <!-- Translation phrase -->
<!ELEMENT te (#PCDATA) > <!-- Translation explanation -->

<!ELEMENT xg ((x,xt)+)>
<!ELEMENT x (#PCDATA)>
<!ELEMENT xt (#PCDATA)>

<!ELEMENT syng (syn+)>
<!ELEMENT syn (#PCDATA)>

<!ELEMENT xhtml:script EMPTY >
<!ATTLIST xhtml:script type CDATA #FIXED "text/javascript" >
<!ATTLIST xhtml:script src  CDATA #IMPLIED >
<!ATTLIST xhtml:script xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >

<!--
This document is not quite finished yet...

Here are the pos tags:
 a  = Adjective
 m  = Masculine (nob)
 f  = Feminine (nob) 
 n  = Neuter (nob), noun (sme)
 S  = noun, still not given gender (nob)
 v  = verb
 adv  = adverb
 num = numeral
 pcle = particle
 p  = preposition (nob)
 pr = preposition (sme)
 po = postposition (sme)
 pron  = pronoun
 i  = interjection
 cc  = conjunction
 cs  = subjunction
 im = infinitive mark å (nob)
 s  = sentence, or explanation
 x  = still no pos

Documenting
(the tags are short due to a manual cleanup)
r  root
e  entry
l  lemma
lc lemma comment 
m  meaning
re restriction (semantic restriction of the following t)
t  translation
x  example
xt example translation
.g group 
-->
