dicts/scripts/gt_staticdictionary.dtd

<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >

<!-- the header -->
<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'>
<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >
<!ELEMENT ref (#PCDATA|a)*>
<!ELEMENT sourcenote (#PCDATA|a)*>
<!ELEMENT a (#PCDATA)>

<!ELEMENT e (lg,mg+) >
<!ATTLIST e 
      usage ( mt | dic | ped | other ) #IMPLIED
      src ( nj | other ) #IMPLIED
>      
<!ELEMENT lg (l,lemma_ref*,analysis*,mini_paradigm?,lc*) >
<!ELEMENT l (#PCDATA) >
<!ATTLIST l 
      pos ( v | pron | rel | pers | i | pcle | num | cc | cs | prop | x ) #REQUIRED
      nr ( sg | du | pl ) #IMPLIED
      pol ( pos | neg ) #IMPLIED
      type ( rel | pers | pre | post | coll | dem | indef | recipr | refl | interr | xx ) #IMPLIED
      case ( acc | ill ) #IMPLIED
      mod ( ind | imp | cond ) #IMPLIED
      persnr ( conneg | sg1 | sg2 | sg3 | du1 | du2 | du3 | pl1 | pl2 | pl3 | inf | prfprc ) #IMPLIED
      context CDATA #IMPLIED
>      

<!ELEMENT lemma_ref (#PCDATA) >
<!ATTLIST lemma_ref
        lemmaID ( daah_pron_dem |
                  daate_pron_dem |
                  dah_pron_dem |
                  dah_pron_pers |
                  datne_pron_pers |
                  dijjieh_pron_pers |
                  doete_pron_dem |
                  doh_pron_dem |
                  doeh_pron_dem |
                  dohte_pron_dem |
                  dåtnoeh_pron_pers |
                  dïhte_pron_dem |
                  dïhte_pron_pers |
                  gie_pron_rel |
                  gieh_pron_rel |
                  guhte_pron_rel |
                  guhth_pron_rel |
                  gåabpa_pron_rel |
                  gåabpetje_pron_rel |
                  jïjtjemdh_pron_refl |
                  jïjtjeme_pron_refl |
                  jïjtjemse_pron_refl |
                  jïjtjemem_pron_refl |
                  mah_pron_rel |
                  manne_pron_pers |
                  mij_pron_rel |
                  mijjieh_pron_pers |
                  mån_pron_pers |
                  månnoeh_pron_pers |
                  satne_pron_pers |
                  sijjieh_pron_pers |
                  sinsitniem_pron_recipr |
                  såtnoeh_pron_pers |
                  makkár_pron_interr_sg |
                  makkárat_pron_interr_pl |
                  goabbá_pron_rel |
                  goappát_pron_rel |
                  guđet_pron_rel |
                  mii_pron_rel |
                  gii_pron_rel |
                  mat_pron_rel |
                  geat_pron_rel |
                  iežaset_pron_refl |
                  iežadet_pron_refl |
                  iežamet_pron_refl |
                  iehčamet_pron_refl |
                  iežaska_pron_refl |
                  iežade_pron_refl |
                  iehčame_pron_refl |
                  iežame_pron_refl |
                  iežas_pron_refl |
                  iežat_pron_refl |
                  iehčan_pron_refl |
                  iežan_pron_refl |
                  lea_v |
                  lij_v |
                  allies_v |
                  olles_v |
                  idtji_v |
                  ij_v |
                  allos_v |
                  ii_v_mun |
                  leaččan_v_pot |
                  livččen_v_cond |
                  ledjen_v |
                  lean_v_ind |
                  lehkon_v_imprt |
                  xxx ) #IMPLIED
>

<!ELEMENT analysis ANY >
<!ATTLIST analysis
    ms ( Pron_Dem_Pl_Acc | Pron_Dem_Pl_Com | Pron_Dem_Pl_Ela | Pron_Dem_Pl_Gen | 
         Pron_Dem_Pl_Ill | Pron_Dem_Pl_Ine | Pron_Dem_Sg_Acc | 
         Pron_Dem_Sg_Com | Pron_Dem_Sg_Ela | Pron_Dem_Sg_Ess | Pron_Dem_Sg_Gen | 
         Pron_Dem_Sg_Ill | Pron_Dem_Sg_Ine |

         Pron_Pers_Sg1 | Pron_Pers_Sg2 | Pron_Pers_Sg3 |
         Pron_Pers_Du1 | Pron_Pers_Du2 | Pron_Pers_Du3 |
         Pron_Pers_Pl1 | Pron_Pers_Pl2 | Pron_Pers_Pl3 |

         Pron_Pers_Sg1_Acc | Pron_Pers_Sg1_Gen | Pron_Pers_Sg1_Com | Pron_Pers_Sg1_Ela | 
         Pron_Pers_Sg1_Ill | Pron_Pers_Sg1_Ine | Pron_Pers_Sg2_Acc | 
         Pron_Pers_Sg2_Com | Pron_Pers_Sg2_Ela | Pron_Pers_Sg2_Gen | Pron_Pers_Sg2_Ill | 
         Pron_Pers_Sg2_Ine | Pron_Pers_Sg3_Acc | Pron_Pers_Sg3_Com | 
         Pron_Pers_Sg3_Ela | Pron_Pers_Sg3_Ess | Pron_Pers_Sg3_Gen | Pron_Pers_Sg3_Ill | 
         Pron_Pers_Sg3_Ine |

         Pron_Pers_Du1_Acc | 
         Pron_Pers_Du1_Com | Pron_Pers_Du1_Ela | Pron_Pers_Du1_Gen | Pron_Pers_Du1_Ill | 
         Pron_Pers_Du1_Ine | Pron_Pers_Du2_Acc | Pron_Pers_Du2_Com | 
         Pron_Pers_Du2_Ela | Pron_Pers_Du2_Gen | Pron_Pers_Du2_Ill | Pron_Pers_Du2_Ine | 
         Pron_Pers_Du3_Acc | Pron_Pers_Du3_Com | Pron_Pers_Du3_Ela | 
         Pron_Pers_Du3_Gen | Pron_Pers_Du3_Ill | Pron_Pers_Du3_Ine |

         Pron_Pers_Pl1_Acc | 
         Pron_Pers_Pl1_Com | Pron_Pers_Pl1_Ela | Pron_Pers_Pl1_Gen | 
         Pron_Pers_Pl1_Ill | Pron_Pers_Pl1_Ine | Pron_Pers_Pl2_Acc | Pron_Pers_Pl2_Com | 
         Pron_Pers_Pl2_Ela | Pron_Pers_Pl2_Gen | Pron_Pers_Pl2_Ill | 
         Pron_Pers_Pl2_Ine | Pron_Pers_Pl3_Acc | Pron_Pers_Pl3_Com | Pron_Pers_Pl3_Ela | 
         Pron_Pers_Pl3_Gen | Pron_Pers_Pl3_Ill | Pron_Pers_Pl3_Ine | 

         Pron_Recipr_Acc | Pron_Recipr_Com | 
         Pron_Recipr_Ela | Pron_Recipr_Gen | Pron_Recipr_Ill |

         Pron_Refl_Sg1_Gen | Pron_Refl_Sg1_Com | Pron_Refl_Sg1_Loc |
         Pron_Refl_Sg1_Ela | Pron_Refl_Sg1_Ill | Pron_Refl_Sg1_Ine | Pron_Refl_Sg1_Ess |
         Pron_Refl_Sg2_Gen | Pron_Refl_Sg2_Com | Pron_Refl_Sg2_Loc |
         Pron_Refl_Sg2_Ela | Pron_Refl_Sg2_Ill | Pron_Refl_Sg2_Ine | Pron_Refl_Sg2_Ess |
         Pron_Refl_Sg3_Gen | Pron_Refl_Sg3_Com | Pron_Refl_Sg3_Loc |
         Pron_Refl_Sg3_Ela | Pron_Refl_Sg3_Ill | Pron_Refl_Sg3_Ine | Pron_Refl_Sg3_Ess |

         Pron_Refl_Du1_Gen | Pron_Refl_Du1_Com | Pron_Refl_Du1_Loc |
         Pron_Refl_Du1_Ela | Pron_Refl_Du1_Ill | Pron_Refl_Du1_Ine | Pron_Refl_Du1_Ess |
         Pron_Refl_Du2_Gen | Pron_Refl_Du2_Com | Pron_Refl_Du2_Loc |
         Pron_Refl_Du2_Ela | Pron_Refl_Du2_Ill | Pron_Refl_Du2_Ine | Pron_Refl_Du2_Ess |
         Pron_Refl_Du3_Gen | Pron_Refl_Du3_Com | Pron_Refl_Du3_Loc |
         Pron_Refl_Du3_Ela | Pron_Refl_Du3_Ill | Pron_Refl_Du3_Ine | Pron_Refl_Du3_Ess |

         Pron_Refl_Pl1_Gen | Pron_Refl_Pl1_Com | Pron_Refl_Pl1_Loc |
         Pron_Refl_Pl1_Ela | Pron_Refl_Pl1_Ill | Pron_Refl_Pl1_Ine | Pron_Refl_Pl1_Ess |
         Pron_Refl_Pl2_Gen | Pron_Refl_Pl2_Com | Pron_Refl_Pl2_Loc |
         Pron_Refl_Pl2_Ela | Pron_Refl_Pl2_Ill | Pron_Refl_Pl2_Ine | Pron_Refl_Pl2_Ess |
         Pron_Refl_Pl3_Gen | Pron_Refl_Pl3_Com | Pron_Refl_Pl3_Loc |
         Pron_Refl_Pl3_Ela | Pron_Refl_Pl3_Ill | Pron_Refl_Pl3_Ine | Pron_Refl_Pl3_Ess |

         Pron_Rel_Sg_Acc | Pron_Rel_Sg_Com | Pron_Rel_Sg_Ela |
         Pron_Rel_Sg_Gen | Pron_Rel_Sg_Ill | Pron_Rel_Sg_Ine | Pron_Rel_Sg_Loc |
         Pron_Rel_Pl_Acc | Pron_Rel_Pl_Com | Pron_Rel_Pl_Ela |
         Pron_Rel_Pl_Gen | Pron_Rel_Pl_Ill | Pron_Rel_Pl_Ine | Pron_Rel_Pl_Loc |
         Pron_Rel_Ess |

         Pron_Interr_Sg_Acc | Pron_Interr_Sg_Com | Pron_Interr_Sg_Ela |
         Pron_Interr_Sg_Gen | Pron_Interr_Sg_Ill | Pron_Interr_Sg_Ine | Pron_Interr_Sg_Loc |
         Pron_Interr_Pl_Acc | Pron_Interr_Pl_Com | Pron_Interr_Pl_Ela |
         Pron_Interr_Pl_Gen | Pron_Interr_Pl_Ill | Pron_Interr_Pl_Ine | Pron_Interr_Pl_Loc |
         Pron_Interr_Ess |

         V_Inf |
         V_ConNeg |
         V_Ind_Prs_ConNeg |
         V_Ind_Prt_ConNeg |
         V_Pot_ConNeg |
         V_Cond_ConNeg |

         V_Ind_Prs_Du1 | V_Ind_Prs_Du2 | V_Ind_Prs_Du3 | 
         V_Ind_Prs_Pl1 | V_Ind_Prs_Pl2 | V_Ind_Prs_Pl3 | 
         V_Ind_Prs_Sg1 | V_Ind_Prs_Sg2 | V_Ind_Prs_Sg3 | 
         V_Ind_Prt_Du1 | V_Ind_Prt_Du2 | V_Ind_Prt_Du3 | 
         V_Ind_Prt_Pl1 | V_Ind_Prt_Pl2 | V_Ind_Prt_Pl3 | 
         V_Ind_Prt_Sg1 | V_Ind_Prt_Sg2 | V_Ind_Prt_Sg3 |

         IV_Neg_Ind_Sg1 | IV_Neg_Ind_Sg2 | IV_Neg_Ind_Sg3 |
         IV_Neg_Ind_Du1 | IV_Neg_Ind_Du2 | IV_Neg_Ind_Du3 |
         IV_Neg_Ind_Pl1 | IV_Neg_Ind_Pl2 | IV_Neg_Ind_Pl3 |

         V_Pot_Sg1 | V_Pot_Sg2 | V_Pot_Sg3 |
         V_Pot_Du1 | V_Pot_Du2 | V_Pot_Du3 |
         V_Pot_Pl1 | V_Pot_Pl2 | V_Pot_Pl3 |

         V_Cond_Sg1 | V_Cond_Sg2 | V_Cond_Sg3 |
         V_Cond_Du1 | V_Cond_Du2 | V_Cond_Du3 |
         V_Cond_Pl1 | V_Cond_Pl2 | V_Cond_Pl3 |

         V_Imprt_Sg1 | V_Imprt_Sg2 | V_Imprt_Sg3 |
         V_Imprt_Du1 | V_Imprt_Du2 | V_Imprt_Du3 |
         V_Imprt_Pl1 | V_Imprt_Pl2 | V_Imprt_Pl3 |

         Neg_Imprt_Du1 | Neg_Imprt_Du2 | Neg_Imprt_Du3 | 
         Neg_Imprt_Pl1 | Neg_Imprt_Pl2 | Neg_Imprt_Pl3 | 
         Neg_Imprt_Sg1 | Neg_Imprt_Sg2 | Neg_Imprt_Sg3 | 
         Neg_Ind_Prs_Du1 | Neg_Ind_Prs_Du2 | Neg_Ind_Prs_Du3 | 
         Neg_Ind_Prs_Pl1 | Neg_Ind_Prs_Pl2 | Neg_Ind_Prs_Pl3 | 
         Neg_Ind_Prs_Sg1 | Neg_Ind_Prs_Sg2 | Neg_Ind_Prs_Sg3 | 
         Neg_Ind_Prt_Du1 | Neg_Ind_Prt_Du2 | Neg_Ind_Prt_Du3 | 
         Neg_Ind_Prt_Pl1 | Neg_Ind_Prt_Pl2 | Neg_Ind_Prt_Pl3 | 
         Neg_Ind_Prt_Sg1 | Neg_Ind_Prt_Sg2 | Neg_Ind_Prt_Sg3 ) #IMPLIED
>

<!ELEMENT wordform (#PCDATA) >

<!ELEMENT mini_paradigm (analysis+) >

<!ELEMENT lc (#PCDATA) >

<!ELEMENT mg (tg+) >
<!ELEMENT tg (re?,t+,xg*) >

<!ELEMENT re (#PCDATA) >
<!ELEMENT t (#PCDATA) >
<!ATTLIST t 
      pos ( a | a5 | S | m | f | n | v | adv | p | pr | po | pron | prop | i | cc | cs | im | mpl | fpl | npl | num | pcle | s | x | xxx ) #REQUIRED
      nr ( sg | pl ) #IMPLIED
      type ( rel | pers | pre | post | coll | dem | indef | recipr | refl | xx ) #IMPLIED
>      

<!ELEMENT xg ((x,xt)+)>
<!ELEMENT x (#PCDATA)>
<!ELEMENT xt (#PCDATA)>

<!ELEMENT xhtml:script EMPTY >
<!ATTLIST xhtml:script type CDATA #FIXED "text/javascript" >
<!ATTLIST xhtml:script src  CDATA #IMPLIED >
<!ATTLIST xhtml:script xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >

<!--
This document is not quite finished yet...

Here are the pos tags:
 a  = Adjective
 m  = Masculine (nob)
 f  = Feminine (nob) 
 n  = Neuter (nob), noun (sme)
 S  = noun, still not given gender (nob)
 v  = verb
 adv  = adverb
 num = numeral
 pcle = particle
 p  = preposition (nob)
 pr = preposition (sme)
 po = postposition (sme)
 pron  = pronoun
 i  = interjection
 cc  = conjunction
 cs  = subjunction
 im = infinitive mark å (nob)
 s  = sentence, or explanation
 x  = still no pos

Documenting
(the tags are short due to a manual cleanup)
r  root
e  entry
l  lemma
lc lemma comment 
m  meaning
re restriction (semantic restriction of the following t)
t  translation
x  example
xt example translation
.g group 
-->
